body > * {  
  text-align: center;
}

header{
  background-color: honeydew;
  height: 10vh;
}

main{
  background-color: lavender;
  height: 85vh;
  padding-top: 30px;
  padding-bottom: 500px;
}

footer{
  background-color: khaki;  
}

.box {
  height: 100px;
  width: 100px;
  background-color: rgba(136, 131, 131, 0.582);
  border: 1px solid black;
  transition: all .3s ease-in-out;
  margin-left: 8px;
  margin-bottom: 8px;
}

.box:hover {
  border-color: black;
  border-width: 5px;
} 

.gameboard{
  height: 324px;
  width: 324px;
  display: flex;
  flex-wrap:  wrap;
  margin: auto;
  margin-top: 40px
}

.box-check-X {
  background: yellowgreen;
}
.box-check-X::before {
  content: "X"
}

.box-check-O {
  background: rgb(124, 150, 221);
}
.box-check-O::before {
  content: "O"
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(149, 149, 149);
  color: white;
  text-align: center;
  height: 5vh;
}